.login__header-link {
  text-decoration: none;
  color: var(--color-black);
  width: 100px;
  display: block;
}
.login__header h1 {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 700;
  height: 20px;
  line-height: 1;
}
.login__header p {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
}
.home {
}
.header {
  height: var(--height-header);
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-lightest);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  z-index: 50;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__search {
}
.header__form {
  display: flex;
  align-items: center;
  position: relative;
  width: 224px;
  height: 40px;
  border-radius: 15px;
  background-color: var(--color-gray-lightest);
}
.header__input {
  background-color: transparent;
  border: none;
  padding-left: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.icon__search {
  position: absolute;
  right: 8px;
  color: var(--color-gray);
  z-index: 0;
}
.header__right {
  height: 100%;
}
.header__navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__navItem {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
}
.header__navItem:nth-child(2)::after {
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  right: 0;
  height: 32px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--color-gray-lightest);
}
.header__navNotify {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--color-light);
  width: 35px;
  height: 35px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}
.header__navNotify:hover .header__notify {
  display: block;
}
.header__notifyNum {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 10px;
  font-weight: 700;
  width: 16px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  cursor: pointer;
}
.header__notify {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 250px;
  max-height: 300px;
  background-color: var(--color-light);
  color: var(--color-black);
  font-size: 14px;
  text-align: center;
  border-radius: 15px;
  z-index: 2;
  animation: notifyMove linear 0.2s;
  transform-origin: 80% top;
}
@keyframes notifyMove {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.header__notifyContent {
  overflow: auto;
}
.header__notify::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  right: 10px;
  border-bottom: 10px solid var(--color-light);
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 2;
}
.icon__notify {
  color: var(--color-primary);
  font-size: 15px;
}
.header__navAccount {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
}
.header__navLink {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
}
.header__imgAccount {
  border-radius: 10px;
}
.container {
  margin-top: var(--height-header);
}
/* slide */
.slides {
  padding-top: 2rem;
}
.slide--light {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  border-radius: 10px;
}
.slide--orange {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-secondary-light);
  border-radius: 10px;
}
.slide__left {
  height: 100%;
  width: 25rem;
}
.slide__img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.slide__right {
  padding-left: 20px;
}
.slide__title {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
}
.slide__des {
  color: var(--color-primary);
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.1px;
  margin: 10px 0 30px 0;
}
.slide--orange .slide__des {
  color: var(--color-secondary);
}
.slide__more {
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
/* navigation */
.nav__list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.nav__item {
  background-color: var(--color-lightest);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-gray-lightest);
  height: 80px;
  cursor: pointer;
}
.nav__item:hover {
  border: 2px solid var(--color-primary);
}
.nav__itemImgCover {
  width: 24px;
  height: 24px;
  margin: 1.5rem 0 1rem;
}
.nav__itemImg {
}
.nav__des {
  font-size: 13px;
  font-weight: 700;
}
/* restaurant */
.restaurant__title {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.restaurant__list {
}
.restaurant__item {
  background-color: var(--color-gray-lightest);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid var(--color-gray-lightest);
  cursor: pointer;
  position: relative;
}
.restaurant__imgCover {
}
.restaurant__img {
}
.restaurant__feature {
  position: absolute;
  top: 0;
  right: 0;
  width: 94px;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 5px;
  border-bottom-left-radius: 15px;
}
.restaurant__container {
  background-color: var(--color-white);
  padding: 8px 15px;
}
.restaurant__header {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__save {
  position: relative;
}
.restaurant__num {
  position: absolute;
  top: -7px;
  right: -7px;
  color: var(--color-white);
  font-size: 10px;
  background-color: var(--color-primary);
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.icon__save {
  color: var(--color-gray-light);
  font-size: 18px;
  font-weight: 700;
}
.restaurant__des {
  color: var(--color-gray);
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 8px 0 15px;
}
.restaurant__time,
.restaurant__price {
}
.icon__time,
.icon__money,
.icon__dot {
  color: var(--color-gray-light);
  font-size: 14px;
  padding-right: 3px;
}
.icon__dot {
  font-size: 8px;
  margin: 0 10px;
}
.restaurant__time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.restaurant__price {
}
.restaurant__footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.restaurant__btn {
  color: var(--color-gray-dark);
  font-size: 12px;
  font-weight: 600;
  background-color: var(--color-gray-lightest);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 999px;
}
.restaurant__imgIconCover {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.restaurant__imgIcon {
}

@media (min-width: 740px) and (max-width: 1023px) {
}
@media (max-width: 739px) {
  .header {
    padding: 0 1.8rem;
  }
  .login__header h1 {
    font-size: 26px;
  }
  .login__header p {
    font-size: 24px;
  }
  .header__form {
    display: none;
  }
  .header__navItem {
    display: none;
  }
  .header__navNotify {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    margin-right: 0;
  }
  .header__notifyNum {
    font-size: 14px;
    width: 20px;
    height: 20px;
  }
  .header__navAccount {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    margin-right: 4rem;
    margin-left: 2rem;
  }
  .header__navAccount::after {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    background-color: var(--color-gray-lightest);
    height: 40px;
    right: -2rem;
    top: 50%;
    transform: translate(0, -50%);
  }
  .container {
    padding: 0 1.8rem;
  }

  .slide--light,
  .slide--orange {
    height: initial;
    flex-wrap: wrap-reverse;
    justify-content: center;
    border-radius: 16px;
    margin-bottom: 3rem;
  }
  .slide__left {
    width: 38rem;
  }
  .slide__right {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 20px 10px;
  }
  .slide__des {
    font-size: 40px;
  }
  .slide__more {
    margin-top: 10px;
  }
  .nav__list {
    margin-top: 0;
  }
  .restaurant__item {
    margin-bottom: 2.5rem;
  }
}
